.mediaViewInfo {
	--web-view-name: Thank you;
	--web-view-id: Thank_you;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: fit;
	--web-enable-scale-up: true;
	--web-scale-on-resize: true;
	--web-show-by-media-query: true;
	--web-enable-deep-linking: true;
	--web-is-overlay: true;
}
:root {
	--web-view-ids: Thank_you;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#Thank_you {
	position: absolute;
	width: 1920px;
	height: 1080px;
	overflow: hidden;
	cursor: pointer;
	--web-view-name: Thank you;
	--web-view-id: Thank_you;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: fit;
	--web-enable-scale-up: true;
	--web-scale-on-resize: true;
	--web-show-by-media-query: true;
	--web-enable-deep-linking: true;
	--web-is-overlay: true;
}
#BASE_MATTER {
	position: absolute;
	width: 668px;
	height: 378px;
	left: 626px;
	top: 351px;
	overflow: visible;
}
#Base_White {
	fill: rgba(255,255,255,1);
}
.Base_White {
	position: absolute;
	overflow: visible;
	width: 668px;
	height: 378px;
	left: 0px;
	top: 0px;
}
#Border {
	fill: transparent;
	stroke: rgba(113,71,253,1);
	stroke-width: 3px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Border {
	position: absolute;
	overflow: visible;
	width: 668px;
	height: 378px;
	left: 0px;
	top: 0px;
}
#Purple_Top_Ribbon_b {
	fill: url(#Purple_Top_Ribbon_b);
}
.Purple_Top_Ribbon_b {
	position: absolute;
	overflow: visible;
	width: 668px;
	height: 46px;
	left: 0px;
	top: 0px;
}
#Path_2670 {
	fill: rgba(255,255,255,1);
}
.Path_2670 {
	overflow: visible;
	position: absolute;
	width: 107.186px;
	height: 13.209px;
	left: 17.68px;
	top: 17.978px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_2671 {
	fill: rgba(0,0,0,1);
}
.Path_2671 {
	overflow: visible;
	position: absolute;
	width: 361.525px;
	height: 23.875px;
	left: 153.375px;
	top: 125.675px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_2672 {
	fill: rgba(0,0,0,1);
}
.Path_2672 {
	overflow: visible;
	position: absolute;
	width: 69.552px;
	height: 13.37px;
	left: 299.406px;
	top: 164.178px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_2673 {
	fill: rgba(0,0,0,1);
}
.Path_2673 {
	overflow: visible;
	position: absolute;
	width: 306.25px;
	height: 28.514px;
	left: 173.777px;
	top: 202.612px;
	transform: matrix(1,0,0,1,0,0);
}
#CTA_CLOSE {
	position: absolute;
	width: 113px;
	height: 34px;
	left: 1084px;
	top: 648px;
	overflow: visible;
}
#Rectangle_52 {
	fill: rgba(113,71,253,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_52 {
	position: absolute;
	overflow: visible;
	width: 113px;
	height: 34px;
	left: 0px;
	top: 0px;
}
#Path_2638 {
	fill: rgba(255,255,255,1);
}
.Path_2638 {
	overflow: visible;
	position: absolute;
	width: 48.705px;
	height: 11.055px;
	left: 32px;
	top: 11px;
	transform: matrix(1,0,0,1,0,0);
}
#CLOSE_BUTTON {
	position: absolute;
	width: 29px;
	height: 29px;
	left: 1249px;
	top: 361px;
	overflow: visible;
}
#Close_Border {
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Close_Border {
	position: absolute;
	overflow: visible;
	width: 29px;
	height: 29px;
	left: 0px;
	top: 0px;
}
#Path_1198 {
	fill: rgba(255,255,255,1);
}
.Path_1198 {
	overflow: visible;
	position: absolute;
	width: 16.976px;
	height: 18.044px;
	left: 6.313px;
	top: 5.143px;
	transform: matrix(1,0,0,1,0,0);
}