.mediaViewInfo {
	--web-view-name: 22C ITEM REVIEW;
	--web-view-id: n_2C_ITEM_REVIEW;
	--web-enable-scale-up: true;
	--web-scale-on-resize: true;
	--web-show-by-media-query: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: n_2C_ITEM_REVIEW;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#n_2C_ITEM_REVIEW {
	position: absolute;
	width: 1920px;
	/*we changed the height to remove excess portion of the div*/
	height: 1300px;
	
	background: radial-gradient(rgba(98,19,114,1) 0%, rgba(52,7,65,1) 100%);
	overflow: hidden;
	--web-view-name: 22C ITEM REVIEW;
	--web-view-id: n_2C_ITEM_REVIEW;
	--web-enable-scale-up: true;
	--web-scale-on-resize: true;
	--web-show-by-media-query: true;
	--web-enable-deep-linking: true;
}
#bg_image {
	position: absolute;
	width: 794.016px;
	height: 447.432px;
	left: 830.296px;/*edit*/
	top: 606.56px;
	overflow: visible;
}
#Mask_Group_15 {
	position: absolute;
	width: 794.016px;
	height: 447.432px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#HEADER {
	position: absolute;
	width: 1921px;
	height: 181px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Rectangle_197 {
	fill: rgba(0,0,0,1);
}
.Rectangle_197 {
	position: absolute;
	overflow: visible;
	width: 1921px;
	height: 181px;
	left: 0px;
	top: 0px;
}
#AMS_logo_unit {
	mix-blend-mode: normal;
	position: absolute;
	width: 399.34px;
	height: 123.595px;
	left: 10px;/*edit*/
	top: 36px;
	overflow: visible;
}
#Layer_2 {
	position: absolute;
	width: 95.875px;
	height: 123.595px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Layer_3 {
	position: absolute;
	width: 95.875px;
	height: 123.595px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Accenture_Logo {
	position: absolute;
	width: 69.109px;
	height: 73.649px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_2617 {
	fill: rgba(161,0,255,1);
}
.Path_2617 {
	overflow: visible;
	position: absolute;
	width: 69.108px;
	height: 73.649px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_167 {
	position: absolute;
	width: 92.186px;
	height: 68.369px;
	left: 3.688px;
	top: 55.226px;
	overflow: visible;
}
#Path_2618_cg {
	fill: url(#Path_2618_cg);
}
.Path_2618_cg {
	overflow: visible;
	position: absolute;
	width: 55.274px;
	height: 46.89px;
	left: 11.697px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_2619_ci {
	fill: url(#Path_2619_ci);
}
.Path_2619_ci {
	mix-blend-mode: multiply;
	overflow: visible;
	position: absolute;
	width: 55.274px;
	height: 46.89px;
	left: 11.697px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_2620_ck {
	fill: url(#Path_2620_ck);
}
.Path_2620_ck {
	overflow: visible;
	position: absolute;
	width: 39.969px;
	height: 52.019px;
	left: 35.175px;
	top: 16.35px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_2621_cm {
	opacity: 0.7;
	fill: url(#Path_2621_cm);
}
.Path_2621_cm {
	mix-blend-mode: overlay;
	overflow: visible;
	position: absolute;
	width: 23.82px;
	height: 21.154px;
	left: 51.325px;
	top: 16.345px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_2622_co {
	fill: url(#Path_2622_co);
}
.Path_2622_co {
	overflow: visible;
	position: absolute;
	width: 51.474px;
	height: 46.89px;
	left: 11.697px;
	top: 0.003px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_2623_cq {
	fill: url(#Path_2623_cq);
}
.Path_2623_cq {
	mix-blend-mode: multiply;
	overflow: visible;
	position: absolute;
	width: 51.474px;
	height: 46.89px;
	left: 11.697px;
	top: 0.003px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_2624_cs {
	fill: url(#Path_2624_cs);
}
.Path_2624_cs {
	mix-blend-mode: multiply;
	overflow: visible;
	position: absolute;
	width: 26.32px;
	height: 22.429px;
	left: 35.175px;
	top: 45.925px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_2625_cu {
	fill: url(#Path_2625_cu);
}
.Path_2625_cu {
	overflow: visible;
	position: absolute;
	width: 25.216px;
	height: 46.885px;
	left: 11.699px;
	top: 0.003px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_2626 {
	fill: rgba(255,255,255,1);
}
.Path_2626 {
	overflow: visible;
	position: absolute;
	width: 55.809px;
	height: 41.863px;
	left: 36.378px;
	top: 17.551px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_2627_cx {
	fill: url(#Path_2627_cx);
}
.Path_2627_cx {
	overflow: visible;
	position: absolute;
	width: 92.184px;
	height: 45.863px;
	left: 0px;
	top: 12.621px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_2631 {
	fill: rgba(245,198,151,1);
}
.Path_2631 {
	overflow: visible;
	position: absolute;
	width: 292.62px;
	height: 19.28px;
	left: 106.72px;
	top: 102px;
	transform: matrix(1,0,0,1,0,0);
}
#Tabs {
	position: absolute;
	width: 641.238px;
	height: 50.872px;
	left: 540.6px;/*edit*/
	top: 107.564px;
	overflow: visible;
}
#Path_2632 {
	fill: rgba(255,255,255,1);
}
.Path_2632 {
	overflow: visible;
	position: absolute;
	width: 66.976px;
	height: 18.1px;
	left: 0px;
	top: 20.436px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_2633 {
	fill: rgba(255,255,255,1);
}
.Path_2633 {
	overflow: visible;
	position: absolute;
	width: 59.075px;
	height: 23.875px;
	left: 141.4px;
	top: 18.436px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_2634 {
	fill: rgba(255,255,255,1);
}
.Path_2634 {
	overflow: visible;
	position: absolute;
	width: 99.15px;
	height: 18.125px;
	left: 291.2px;
	top: 20.436px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_2635 {
	fill: rgba(255,255,255,1);
}
.Path_2635 {
	overflow: visible;
	position: absolute;
	width: 106.801px;
	height: 19.55px;
	left: 534.438px;
	top: 20.436px;
	transform: matrix(1,0,0,1,0,0);
}
#Icon_material-account-circle {
	fill: rgba(255,255,255,1);
}
.Icon_material-account-circle {
	overflow: visible;
	position: absolute;
	width: 50.872px;
	height: 50.872px;
	left: 461.965px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_2637 {
	fill: rgba(255,189,108,1);
}
.Path_2637 {
	overflow: visible;
	position: absolute;
	width: 222.44px;
	height: 29.48px;
	left: 550px;/*edit*/
	top: 264.96px;
	transform: matrix(1,0,0,1,0,0);
}
#NameAddress_Unit {
	position: absolute;
	width: 447px;
	height: 159px;
	left: 445.378px;/*edit*/
	top: 386px;
	overflow: visible;
}
#Name {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 52px;
	white-space: nowrap;
	text-align: left;
	font-family: Graphik;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	color: rgba(255,255,255,1);
}
#John_Doe {
	left: 171px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 79px;
	white-space: nowrap;
	text-align: left;
	font-family: Graphik;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(255,255,255,1);
}
#Address {
	left: 0px;
	top: 39px;
	position: absolute;
	overflow: visible;
	width: 73px;
	white-space: nowrap;
	text-align: left;
	font-family: Graphik;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	color: rgba(255,255,255,1);
}
#Flat_No_410_Aamrapali_CHS_Muni {
	left: 171px;
	top: 39px;
	position: absolute;
	overflow: visible;
	width: 277px;
	white-space: nowrap;
	text-align: left;
	font-family: Graphik;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(255,255,255,1);
}
#Edit_delivery_address {
	left: 272px;
	top: 135px;
	position: absolute;
	overflow: visible;
	width: 176px;
	white-space: nowrap;
	text-align: right;
	font-family: Graphik;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(5,171,178,1);
}
#Path_2654 {
	fill: rgba(255,255,255,1);
}
.Path_2654 {
	overflow: visible;
	position: absolute;
	width: 161.28px;
	height: 18.76px;
	left: 183.229px;/*edit*/
	top: 570.8px;
	transform: matrix(1,0,0,1,0,0);
}
#Payment_Method_Unit {
	position: absolute;
	width: 585px;
	height: 88px;
	left: 183.229px;/*edit*/
	top: 660px;
	overflow: visible;
}
#Ending_in_6213 {
	left: 108px;
	top: 8px;
	position: absolute;
	overflow: visible;
	width: 138px;
	white-space: nowrap;
	text-align: left;
	font-family: Graphik;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#Billing_address {
	left: 108px;
	top: 62px;
	position: absolute;
	overflow: visible;
	width: 143px;
	white-space: nowrap;
	text-align: left;
	font-family: Graphik;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(201,126,255,1);
}
#Same_as_delivery_address {
	left: 348px;
	top: 62px;
	position: absolute;
	overflow: visible;
	width: 238px;
	white-space: nowrap;
	text-align: left;
	font-family: Graphik;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#VISA {
	position: absolute;
	width: 64px;
	height: 34px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Rectangle_40 {
	fill: rgba(229,229,229,1);
}
.Rectangle_40 {
	position: absolute;
	overflow: visible;
	width: 64px;
	height: 34px;
	left: 0px;
	top: 0px;
}
#Visa_Inc_logosvg {
	position: absolute;
	width: 53px;
	height: 17px;
	left: 5px;
	top: 9px;
	overflow: visible;
}
#Line_24 {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_24 {
	overflow: visible;
	position: absolute;
	width: 749px;
	height: 2px;
	left: 183.229px;/*edit*/
	top: 801px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_2655 {
	fill: rgba(255,255,255,1);
}
.Path_2655 {
	overflow: visible;
	position: absolute;
	width: 125.34px;
	height: 15.26px;
	left: 183.229px;/*edit*/
	top: 860.96px;
	transform: matrix(1,0,0,1,0,0);
}
#shampoo {
	position: absolute;
	width: 85px;
	height: 248px;
	left: 183.229px;/*edit*/
	top: 927px;
	overflow: visible;
}
#Path_2656 {
	fill: rgba(255,255,255,1);
}
.Path_2656 {
	overflow: visible;
	position: absolute;
	width: 173.088px;
	height: 17.19px;
	left: 356.864px;/*edit*/
	top: 997.086px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_2657 {
	fill: rgba(255,255,255,1);
}
.Path_2657 {
	overflow: visible;
	position: absolute;
	width: 466.54px;
	height: 19.06px;
	left: 356.864px;/*edit*/
	top: 950.8px;
	transform: matrix(1,0,0,1,0,0);
}
#W-Proceeed {
	position: absolute;
	width: 152px;
	height: 52px;
	left: 750px;/*edit*/
	top: 1144px;
	overflow: visible;
	cursor: pointer;
	--web-animation: ;
	--web-action-type: view;
	--web-action-target: Order_Summary;
}
#Rectangle_176 {
	fill: rgba(155,60,246,1);
	stroke: rgba(255,255,255,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_176 {
	position: absolute;
	overflow: visible;
	width: 152px;
	height: 52px;
	left: 0px;
	top: 0px;
}
#Path_2437 {
	fill: rgba(255,255,255,1);
}
.Path_2437 {
	overflow: visible;
	position: absolute;
	width: 83.719px;
	height: 13.266px;
	left: 33.999px;
	top: 19px;
	transform: matrix(1,0,0,1,0,0);
}
#Line_21 {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_21 {
	overflow: visible;
	position: absolute;
	width: 903px;
	height: 2px;
	left: 183.229px;/*edit*/
	top: 613px;
	transform: matrix(1,0,0,1,0,0);
}

/*This is the added code to remove scroll bars from index.html*/
body 
{
	
	overflow-x:hidden; 
	width:100%;
	height:100%;

} 