.mediaViewInfo {
	--web-view-name: 22B CHECKOUT;
	--web-view-id: n_2B_CHECKOUT;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: fit;
	--web-enable-scale-up: true;
	--web-scale-on-resize: true;
	--web-show-by-media-query: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: n_2B_CHECKOUT;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#n_2B_CHECKOUT {
	position: absolute;
	width: 1920px;
	height: 2100px;
	background: radial-gradient(rgba(98,19,114,1) 0%, rgba(52,7,65,1) 100%);
	overflow: hidden;
	
	--web-view-name: 22B CHECKOUT;
	--web-view-id: n_2B_CHECKOUT;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: fit;
	--web-enable-scale-up: true;
	--web-scale-on-resize: true;
	--web-show-by-media-query: true;
	--web-enable-deep-linking: true;

}
/* @keyframes  { 


}*/
#HEADER {
	position: absolute;
	width: 1921px;
	height: 181px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Rectangle_197 {
	fill: rgba(0,0,0,1);
}
.Rectangle_197 {
	position: absolute;
	overflow: visible;
	width: 1921px;
	height: 181px;
	left: 0px;
	top: 0px;
}
#AMS_logo_unit {
	mix-blend-mode: normal;
	position: absolute;
	width: 399.34px;
	height: 123.595px;
	left: 10px;/*edit*/
	top: 36px;
	overflow: visible;
}
#Layer_2 {
	position: absolute;
	width: 95.875px;
	height: 123.595px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Layer_3 {
	position: absolute;
	width: 95.875px;
	height: 123.595px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Accenture_Logo {
	position: absolute;
	width: 69.109px;
	height: 73.649px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_2617 {
	fill: rgba(161,0,255,1);
}
.Path_2617 {
	overflow: visible;
	position: absolute;
	width: 69.109px;
	height: 73.649px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_167 {
	position: absolute;
	width: 92.186px;
	height: 68.369px;
	left: 3.688px;
	top: 55.226px;
	overflow: visible;
}
#Path_2618_ce {
	fill: url(#Path_2618_ce);
}
.Path_2618_ce {
	overflow: visible;
	position: absolute;
	width: 55.275px;
	height: 46.89px;
	left: 11.696px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_2619_cg {
	fill: url(#Path_2619_cg);
}
.Path_2619_cg {
	mix-blend-mode: multiply;
	overflow: visible;
	position: absolute;
	width: 55.275px;
	height: 46.89px;
	left: 11.696px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_2620_ci {
	fill: url(#Path_2620_ci);
}
.Path_2620_ci {
	overflow: visible;
	position: absolute;
	width: 39.969px;
	height: 52.019px;
	left: 35.175px;
	top: 16.35px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_2621_ck {
	opacity: 0.7;
	fill: url(#Path_2621_ck);
}
.Path_2621_ck {
	mix-blend-mode: overlay;
	overflow: visible;
	position: absolute;
	width: 23.821px;
	height: 21.154px;
	left: 51.325px;
	top: 16.345px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_2622_cm {
	fill: url(#Path_2622_cm);
}
.Path_2622_cm {
	overflow: visible;
	position: absolute;
	width: 51.474px;
	height: 46.89px;
	left: 11.696px;
	top: 0.003px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_2623_co {
	fill: url(#Path_2623_co);
}
.Path_2623_co {
	mix-blend-mode: multiply;
	overflow: visible;
	position: absolute;
	width: 51.474px;
	height: 46.89px;
	left: 11.696px;
	top: 0.003px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_2624_cq {
	fill: url(#Path_2624_cq);
}
.Path_2624_cq {
	mix-blend-mode: multiply;
	overflow: visible;
	position: absolute;
	width: 26.321px;
	height: 22.429px;
	left: 35.175px;
	top: 45.925px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_2625_cs {
	fill: url(#Path_2625_cs);
}
.Path_2625_cs {
	overflow: visible;
	position: absolute;
	width: 25.216px;
	height: 46.885px;
	left: 11.699px;
	top: 0.003px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_2626 {
	fill: rgba(255,255,255,1);
}
.Path_2626 {
	overflow: visible;
	position: absolute;
	width: 55.808px;
	height: 41.863px;
	left: 36.378px;
	top: 17.551px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_2627_cv {
	fill: url(#Path_2627_cv);
}
.Path_2627_cv {
	overflow: visible;
	position: absolute;
	width: 92.184px;
	height: 45.863px;
	left: 0px;
	top: 12.621px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_2631 {
	fill: rgba(245,198,151,1);
}
.Path_2631 {
	overflow: visible;
	position: absolute;
	width: 292.62px;
	height: 19.28px;
	left: 106.72px;
	top: 102px;
	transform: matrix(1,0,0,1,0,0);
}
#Tabs {
	position: absolute;
	width: 641.238px;
	height: 50.872px;
	left: 540px;/*edit*/
	top: 107.564px;
	overflow: visible;
}
#Path_2632 {
	fill: rgba(255,255,255,1);
}
.Path_2632 {
	overflow: visible;
	position: absolute;
	width: 66.975px;
	height: 18.1px;
	left: 0px;
	top: 20.436px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_2633 {
	fill: rgba(255,255,255,1);
}
.Path_2633 {
	overflow: visible;
	position: absolute;
	width: 59.075px;
	height: 23.875px;
	left: 141.4px;
	top: 18.436px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_2634 {
	fill: rgba(255,255,255,1);
}
.Path_2634 {
	overflow: visible;
	position: absolute;
	width: 99.15px;
	height: 18.125px;
	left: 291.2px;
	top: 20.436px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_2635 {
	fill: rgba(255,255,255,1);
}
.Path_2635 {
	overflow: visible;
	position: absolute;
	width: 106.8px;
	height: 19.55px;
	left: 534.438px;
	top: 20.436px;
	transform: matrix(1,0,0,1,0,0);
}
#Icon_material-account-circle {
	fill: rgba(255,255,255,1);
}
.Icon_material-account-circle {
	overflow: visible;
	position: absolute;
	width: 50.873px;
	height: 50.872px;
	left: 461.964px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#bg_image {
	position: absolute;
	width: 520.016px;
	height: 460.432px;
	left: 950.296px;/*edit*/
	top: 606.563px;
	overflow: visible;
}
#Mask_Group_15 {
	position: absolute;
	width: 520.016px;
	height: 460.432px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_2637 {
	fill: rgba(255,189,108,1);
}
.Path_2637 {
	overflow: visible;
	position: absolute;
	width: 222.44px;
	height: 29.48px;
	left: 550px;/*edit*/
	top: 264.96px;
	transform: matrix(1,0,0,1,0,0);
}
#NameAddress_Unit {
	position: absolute;
	width: 445.866px;
	height: 152.19px;
	left: 445.378px;/*edit*/
	top: 392.086px;
	overflow: visible;
}
#Name {
	fill: rgba(255,255,255,1);
}
.Name {
	overflow: visible;
	position: absolute;
	width: 48.96px;
	height: 13.068px;
	left: 1.008px;
	top: 1.044px;
	transform: matrix(1,0,0,1,0,0);
}
#John_Doe {
	fill: rgba(255,255,255,1);
}
.John_Doe {
	overflow: visible;
	position: absolute;
	width: 76.896px;
	height: 14.076px;
	left: 171.306px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Address {
	fill: rgba(255,255,255,1);
}
.Address {
	overflow: visible;
	position: absolute;
	width: 70.758px;
	height: 13.878px;
	left: 0px;
	top: 39.234px;
	transform: matrix(1,0,0,1,0,0);
}
#Flat {
	fill: rgba(255,255,255,1);
}
.Flat {
	overflow: visible;
	position: absolute;
	width: 274.158px;
	height: 86.076px;
	left: 171.396px;
	top: 39px;
	transform: matrix(1,0,0,1,0,0);
}
#Edit {
	fill: rgba(5,171,178,1);
}
.Edit {
	overflow: visible;
	position: absolute;
	width: 172.656px;
	height: 17.19px;
	left: 273.21px;
	top: 135px;
	transform: matrix(1,0,0,1,0,0);
}
#Line_21 {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_21 {
	overflow: visible;
	position: absolute;
	width: 903px;
	height: 2px;
	left:260px;/*edit*/
	top: 613px;
	transform: matrix(1,0,0,1,0,0);
}
#Payment_Method {
	fill: rgba(255,255,255,1);
}
.Payment_Method {
	overflow: visible;
	position: absolute;
	width: 161.28px;
	height: 18.76px;
	left: 183.229px;/*edit*/
	top: 687.8px;
	transform: matrix(1,0,0,1,0,0);
}
#CREDIT__DEBIT_CARD {
	position: absolute;
	width: 519px;
	height: 88px;
	left: 183.229px;/*edit*/
	top: 742px;
	overflow: visible;
}
#Radio_Selector_Out {
	fill: rgba(255,255,255,1);
	stroke: rgba(113,71,253,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Radio_Selector_Out {
	position: absolute;
	overflow: visible;
	width: 28px;
	height: 28px;
	left: 0px;
	top: 0px;
}
#Radio_Selector_In {
	opacity: 0.002;
	fill: rgba(113,71,253,1);
}
.Radio_Selector_In {
	position: absolute;
	overflow: visible;
	width: 18px;
	height: 18px;
	left: 5px;
	top: 5px;
}
#Credit_or_Debit_Card {
	fill: rgba(255,255,255,1);
}
.Credit_or_Debit_Card {
	overflow: visible;
	position: absolute;
	width: 181.24px;
	height: 15.64px;
	left: 62.1px;
	top: 7.54px;
	transform: matrix(1,0,0,1,0,0);
}
#VISA {
	position: absolute;
	width: 64px;
	height: 34px;
	left: 60px;
	top: 54px;
	overflow: visible;
}
#Rectangle_40 {
	fill: rgba(229,229,229,1);
}
.Rectangle_40 {
	position: absolute;
	overflow: visible;
	width: 64px;
	height: 34px;
	left: 0px;
	top: 0px;
}
#Visa_Inc_logosvg {
	position: absolute;
	width: 53px;
	height: 17px;
	left: 5px;
	top: 9px;
	overflow: visible;
}
#MASTERCARD {
	position: absolute;
	width: 64px;
	height: 34px;
	left: 139px;
	top: 54px;
	overflow: visible;
}
#Rectangle_43 {
	fill: rgba(229,229,229,1);
}
.Rectangle_43 {
	position: absolute;
	overflow: visible;
	width: 64px;
	height: 34px;
	left: 0px;
	top: 0px;
}
#Mastercard {
	position: absolute;
	width: 46px;
	height: 29px;
	left: 9px;
	top: 3px;
	overflow: visible;
}
#AMEX {
	position: absolute;
	width: 64px;
	height: 34px;
	left: 218px;
	top: 54px;
	overflow: visible;
}
#Rectangle_44 {
	fill: rgba(229,229,229,1);
}
.Rectangle_44 {
	position: absolute;
	overflow: visible;
	width: 64px;
	height: 34px;
	left: 0px;
	top: 0px;
}
#american-express-1 {
	position: absolute;
	width: 30.652px;
	height: 30.652px;
	left: 17.174px;
	top: 1.674px;
	overflow: visible;
}
#Path_1181 {
	fill: rgba(255,255,255,1);
}
.Path_1181 {
	overflow: visible;
	position: absolute;
	width: 30.652px;
	height: 30.652px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_1182 {
	fill: rgba(0,119,166,1);
}
.Path_1182 {
	overflow: visible;
	position: absolute;
	width: 27.948px;
	height: 26.391px;
	left: 0.647px;
	top: 2.131px;
	transform: matrix(1,0,0,1,0,0);
}
#DINERS {
	position: absolute;
	width: 64px;
	height: 34px;
	left: 297px;
	top: 54px;
	overflow: visible;
}
#Rectangle_45 {
	fill: rgba(229,229,229,1);
}
.Rectangle_45 {
	position: absolute;
	overflow: visible;
	width: 64px;
	height: 34px;
	left: 0px;
	top: 0px;
}
#diners-club-international {
	position: absolute;
	width: 30.187px;
	height: 30.187px;
	left: 17.075px;
	top: 2.074px;
	overflow: visible;
}
#Path_1183 {
	fill: rgba(255,255,255,1);
}
.Path_1183 {
	overflow: visible;
	position: absolute;
	width: 30.187px;
	height: 30.187px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_1184 {
	fill: rgba(0,0,0,1);
}
.Path_1184 {
	overflow: visible;
	position: absolute;
	width: 29.299px;
	height: 29.217px;
	left: 0.444px;
	top: 0.485px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_1185 {
	fill: rgba(56,62,147,1);
}
.Path_1185 {
	overflow: visible;
	position: absolute;
	width: 26.078px;
	height: 17.122px;
	left: 2.075px;
	top: 1.842px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_1186 {
	fill: rgba(56,62,147,1);
}
.Path_1186 {
	overflow: visible;
	position: absolute;
	width: 8.693px;
	height: 7.824px;
	left: 6.273px;
	top: 6.452px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_1187 {
	fill: rgba(0,0,0,1);
}
.Path_1187 {
	overflow: visible;
	position: absolute;
	width: 25.525px;
	height: 6.337px;
	left: 2.657px;
	top: 21.057px;
	transform: matrix(1,0,0,1,0,0);
}
#MAESTRO {
	position: absolute;
	width: 64px;
	height: 34px;
	left: 376px;
	top: 54px;
	overflow: visible;
}
#Rectangle_46 {
	fill: rgba(229,229,229,1);
}
.Rectangle_46 {
	position: absolute;
	overflow: visible;
	width: 64px;
	height: 34px;
	left: 0px;
	top: 0px;
}
#Maestro {
	position: absolute;
	width: 50px;
	height: 30px;
	left: 7px;
	top: 2px;
	overflow: visible;
}
#RUPAY {
	position: absolute;
	width: 64px;
	height: 34px;
	left: 455px;
	top: 54px;
	overflow: visible;
}
#Rectangle_48 {
	fill: rgba(229,229,229,1);
}
.Rectangle_48 {
	position: absolute;
	overflow: visible;
	width: 64px;
	height: 34px;
	left: 0px;
	top: 0px;
}
#rupay {
	position: absolute;
	width: 58.298px;
	height: 15.313px;
	left: 3px;
	top: 9px;
	overflow: visible;
}
#Path_1193 {
	fill: rgba(1,140,69,1);
}
.Path_1193 {
	overflow: visible;
	position: absolute;
	width: 6.908px;
	height: 13.068px;
	left: 51.39px;
	top: 1.127px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_1194 {
	fill: rgba(244,121,32,1);
}
.Path_1194 {
	overflow: visible;
	position: absolute;
	width: 6.908px;
	height: 13.068px;
	left: 49.106px;
	top: 1.127px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_1195 {
	fill: rgba(41,56,126,1);
}
.Path_1195 {
	overflow: visible;
	position: absolute;
	width: 51.06px;
	height: 15.313px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#NETBANKING {
	position: absolute;
	width: 402px;
	height: 119px;
	left: 183.229px;
	top: 870px;
	overflow: visible;
}
#Ellipse_214 {
	fill: rgba(255,255,255,1);
	stroke: rgba(113,71,253,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Ellipse_214 {
	position: absolute;
	overflow: visible;
	width: 28px;
	height: 28px;
	left: 0px;
	top: 0px;
}
#Ellipse_219 {
	opacity: 0.003;
	fill: rgba(113,71,253,1);
}
.Ellipse_219 {
	position: absolute;
	overflow: visible;
	width: 18px;
	height: 18px;
	left: 5px;
	top: 5px;
}
#Path_2645 {
	fill: rgba(255,255,255,1);
}
.Path_2645 {
	overflow: visible;
	position: absolute;
	width: 109.88px;
	height: 19.28px;
	left: 62.8px;
	top: 6.54px;
	transform: matrix(1,0,0,1,0,0);
}
#Choose_Bank {
	position: absolute;
	width: 342px;
	height: 60px;
	left: 60px;
	top: 59px;
	overflow: visible;
	cursor: pointer;
	--web-animation: ;
	--web-action-type: view;
	--web-action-target: CC_Input__1;
}
#Choose_Bank_Box {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Choose_Bank_Box {
	position: absolute;
	overflow: visible;
	width: 342px;
	height: 60px;
	left: 0px;
	top: 0px;
}
#Choose_your_bank {
	fill: rgba(0,0,0,1);
}
.Choose_your_bank {
	overflow: visible;
	position: absolute;
	width: 168.24px;
	height: 19.1px;
	left: 25.593px;
	top: 20px;
	transform: matrix(1,0,0,1,0,0);
}
#dropdown_icon {
	fill: rgba(0,0,0,1);
}
.dropdown_icon {
	overflow: visible;
	position: absolute;
	width: 16.026px;
	height: 9.425px;
	left: 292.48px;
	top: 25px;
	transform: matrix(1,0,0,1,0,0);
}
#OTHER_UPI {
	position: absolute;
	width: 560px;
	height: 119px;
	left:183.229px;/*edit*/
	top: 1029px;
	overflow: visible;
}
#Ellipse_215 {
	fill: rgba(255,255,255,1);
	stroke: rgba(113,71,253,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Ellipse_215 {
	position: absolute;
	overflow: visible;
	width: 28px;
	height: 28px;
	left: 0px;
	top: 0px;
}
#Ellipse_220 {
	opacity: 0;
	fill: rgba(113,71,253,1);
}
.Ellipse_220 {
	position: absolute;
	overflow: visible;
	width: 18px;
	height: 18px;
	left: 5px;
	top: 5px;
}
#Path_2646 {
	fill: rgba(255,255,255,1);
}
.Path_2646 {
	overflow: visible;
	position: absolute;
	width: 142.06px;
	height: 19.1px;
	left: 62.1px;
	top: 6.54px;
	transform: matrix(1,0,0,1,0,0);
}
#Input_Box {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Input_Box {
	position: absolute;
	overflow: visible;
	width: 342px;
	height: 60px;
	left: 61px;
	top: 59px;
}
#Path_2629 {
	opacity: 0.242;
	fill: rgba(0,0,0,1);
}
.Path_2629 {
	overflow: visible;
	position: absolute;
	width: 195.6px;
	height: 19.1px;
	left: 86.292px;
	top: 79px;
	transform: matrix(1,0,0,1,0,0);
}
#Verify_Box {
	fill: rgba(113,71,253,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Verify_Box {
	position: absolute;
	overflow: visible;
	width: 125px;
	height: 49px;
	left: 435px;
	top: 67px;
}
#Path_2630 {
	fill: rgba(255,255,255,1);
}
.Path_2630 {
	overflow: visible;
	position: absolute;
	width: 47.214px;
	height: 17.244px;
	left: 474.54px;
	top: 83px;
	transform: matrix(1,0,0,1,0,0);
}
#COD {
	position: absolute;
	width: 364.72px;
	height: 28px;
	left: 183.229px;/*edit*/
	top: 1200px;
	overflow: visible;
}
#Ellipse_217 {
	fill: rgba(255,255,255,1);
	stroke: rgba(113,71,253,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Ellipse_217 {
	position: absolute;
	overflow: visible;
	width: 28px;
	height: 28px;
	left: 0px;
	top: 0px;
}
#Ellipse_221 {
	opacity: 0;
	fill: rgba(113,71,253,1);
}
.Ellipse_221 {
	position: absolute;
	overflow: visible;
	width: 18px;
	height: 18px;
	left: 5px;
	top: 5px;
}
#Path_2647 {
	fill: rgba(255,255,255,1);
}
.Path_2647 {
	overflow: visible;
	position: absolute;
	width: 302.62px;
	height: 19.16px;
	left: 62.1px;
	top: 6.48px;
	transform: matrix(1,0,0,1,0,0);
}
#W-Proceeed {
	position: absolute;
	width: 152px;
	height: 52px;
	left: 750px;
	top: 1300px;
	overflow: visible;
	--web-animation: fadein undefineds undefined;
	--web-action-type: view;
	--web-action-target: n_2C_ITEM_REVIEW;
	cursor: pointer;
}
#Box_Proceed {
	fill: rgba(155,60,246,1);
	stroke: rgba(255,255,255,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Box_Proceed {
	position: absolute;
	overflow: visible;
	width: 152px;
	height: 52px;
	left: 0px;
	top: 0px;
}
#Path_2437 {
	fill: rgba(255,255,255,1);
}
.Path_2437 {
	overflow: visible;
	position: absolute;
	width: 83.718px;
	height: 13.266px;
	left: 34px;
	top: 19px;
	transform: matrix(1,0,0,1,0,0);
}

/* This is the added code to remove scroll bars from index.html */

body 
{
	
	overflow-x: hidden; 
	width:100%;
	height:100%;
	
} 

  