.mediaViewInfo {
	--web-view-name: CC Input – Choose Your Bank Scroll;
	--web-view-id: CC_Input__Choose_Your_Bank_Scroll;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: fit;
	--web-enable-scale-up: true;
	--web-scale-on-resize: true;
	--web-show-by-media-query: true;
	--web-enable-deep-linking: true;
	--web-is-overlay: true;
}
:root {
	--web-view-ids: CC_Input__Choose_Your_Bank_Scroll;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#CC_Input__Choose_Your_Bank_Scroll {
	position: absolute;
	width: 1920px;
	height: 1080px;
	overflow: hidden;
	cursor: pointer;
	--web-view-name: CC Input – Choose Your Bank Scroll;
	--web-view-id: CC_Input__Choose_Your_Bank_Scroll;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: fit;
	--web-enable-scale-up: true;
	--web-scale-on-resize: true;
	--web-show-by-media-query: true;
	--web-enable-deep-linking: true;
	--web-is-overlay: true;
}
#Rectangle_50_b {
	fill: url(#Rectangle_50_b);
}
.Rectangle_50_b {
	position: absolute;
	overflow: visible;
	width: 383px;
	height: 201px;
	left: 459px;
	top: 705px;
}
#Scroll_Group_2 {
	mix-blend-mode: normal;
	position: absolute;
	width: 330px;
	height: 198px;
	left: 485px;
	top: 706px;
	overflow: hidden;
}
#Bank_of_Baroda_Bank_of_India_B {
	left: 0px;
	top: 2px;
	position: absolute;
	overflow: visible;
	width: 331px;
	height: 326px;
	line-height: 22px;
	margin-top: -4px;
	text-align: left;
	font-family: Graphik;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(255,255,255,1);
}